*{
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}
body{
    background-color:floralwhite;
    font-family: 'Lexend Exa', sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
            "header header header header header"
            "main main main main main"
            "footer footer footer footer footer"
            ;
}

/*header*/

.header {
    height:15vh;
    background-color:floralwhite;
    grid-area: header;
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas: 
            "h1"
            "nav"
            ;


}
.header h1{
    background-color:floralwhite;
    color: rgb(10, 9, 8);
    grid-area: h1;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.header a{
    text-decoration: none;
}
                    /*NAV*/

.nav{
    height: auto;
    background-color:floralwhite;
    grid-area: nav;
}
.nav ul {
    display: flex;
    justify-content:center;
    column-gap:5vw;
}
.nav ul li {
    list-style-type: none;
}
.nav ul li a {
    font-size: 90%;
    font-weight: bolder;
    color: rgb(10, 9, 8);
    text-decoration: none;
}

                    /*NAV*/

/*fin header*/

/*main inicio*/
.mainInicio{
    height: calc(100vh - 15vh);
    background-color:floralwhite;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
            "carousel carousel carousel"
            "carousel carousel carousel"
            "carousel carousel carousel"
            "carousel carousel carousel"
            "carousel carousel carousel"
            "section section section"
            ;
}
.mainInicio__carousel {
    height: 65vh;
    background-image: url(../imagenes/granos-xl.jpg);
    background-size: cover;
    grid-area: carousel;

}
.mainInicio__texto{
    height: 20vh;
    grid-area: section;
    background-color:floralwhite;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.mainInicio__texto section p{
    height: 15vh;
    padding: 1vh;
    width: 90vw;
    background-color:floralwhite;
    text-align: center;
    color: rgb(10, 9, 8);
    font-weight: bolder;
    font-size: medium;
    display: flex;
    justify-content: center;
}
/*fin main inicio*/

/*main productos*/

.main__productos{
    width: 90vw;
    margin: 0 auto;
    padding: 5%;
    height:100vh;
    background-color:floralwhite;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15vh;
    column-gap: 3vw;
}   
.sectionCard{
    margin: 0 auto;
    padding: 45px;
    background-color: rgb(190, 190, 190);
    width: 80%;
    display: grid;
    grid-template-areas: 
            "titulo titulo"
            "texto imagen"
            ;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 1vw;
    row-gap: 2vh;
}
.sectionCardImage{
    margin: 0 auto;
    background-color:rgb(248, 224, 175);
    width: 150px;
    height: 150px;
    background-image: url(../imagenes/granos-de-cafe.png);
    background-size:50px;
    grid-area: imagen;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.sectionCardH3{
    font-size: 100%;
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionCardTexto{
    width: 190px;
    height: auto;
    background-color: rgb(190, 190, 190);
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
/* fin main productos */

/*main contacto*/
.main__contacto{
    margin: 20px auto;
    padding-bottom: 50px;
    width: 80vw;
    height: auto;
    grid-area: main;
    background-color: rgb(190, 190, 190);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}


.main__contacto__form{
    padding: 10px;
    width: 30vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main__contacto__maps{
    padding: 10px;
    margin: 0 auto;
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}
/* Fin main contacto*/

/*main nosotros*/
.main__nosotros{
    grid-area: main;
    height: 100vh;
}
.main__nosotros__card{
    margin: 0 auto;
    padding: 30px;
    width:80vw;
    height: 40vh;
    display: grid;
    grid-template-areas: 
    "texto imagen"
    "texto imagen"
    ;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    justify-content: flex-start;
    column-gap: 5vw;

}
.main__nosotros__card2{
    margin: 0 auto;
    padding: 30px;
    width:80vw;
    height: 40vh;
    display: grid;
    grid-template-areas: 
    "imagen texto"
    "imagen texto"
    ;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    justify-content: flex-start;
    column-gap: 1vw;
}
.main__nosotros__card__img{
    width:auto;
    background-image: url(../imagenes/cafecover.jpg);
    grid-area: imagen;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main__nosotros__card__img2{
    width: auto;
    background-image: url(../imagenes/cafecover.jpg);
    grid-area: imagen;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.main__nosotros__card__texto{
    width: 30vw;
    padding: 70px;
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__nosotros__card__texto2{
    width: 50vw;
    padding: 20px;
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*fin main nosotros*/

/*main cursos*/
.main__cursos {
    width: 70vw;
    margin: 0 auto;
    padding: 5%;
    height:100vh;
    background-color:floralwhite;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5vh;
    column-gap: 3vw;
}
.main__cursos__card{
    margin: 0 auto;
    padding: 45px;
    background-color: rgb(190, 190, 190);
    width: 50%;
    display: grid;
    grid-template-areas: 
            "titulo titulo"
            "imagen imagen"
            ;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 1vw;
    row-gap: 2vh;
}

.main__cursos__card__img{
    margin: 0 auto;
    background-color:rgb(248, 224, 175);
    width: 150px;
    height: 150px;
    background-image: url(../imagenes/granos-de-cafe.png);
    background-size:50px;
    grid-area: imagen;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.main__cursos__card__titulo{
    font-size: 100%;
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*fin main cursos*/

/*footer*/

.footer{
    height: 40vh;
    background-color:  rgb(34, 51, 59);
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.footer__item{
    height: 22vh;
    width: 30vw;
    background-color:  rgb(34, 51, 59);
    display: grid;
    grid-template-columns: 3fr;
    grid-template-areas: 
            "footerH3"
            "footerUl"
            ;
    justify-items: center;

}
.footer__item h3{
    font-size: 150%;
    font-weight: bolder;
    color:floralwhite;
    text-decoration: underline;
    grid-area: footerH3;
}

.footer ul li{
    color:floralwhite;
    font-weight: lighter;
    grid-area: footerUl;
    font-size: 90%;

}

.footer ul li a{
    color:floralwhite;
    font-style: italic;
    grid-area: footerUl;
    font-size: 90%;

}
/* fin footer */

/* inicio media 1024px */
@media screen and (max-width: 1024px) {
    
    .main__productos{
        height: auto;
        background-color:floralwhite;
        row-gap: 10px;
        column-gap: 10px;
    } 
    
    .sectionCard{
        margin: 0 auto;
        padding: 45px;
        background-color: rgb(190, 190, 190);
        width: auto;
        height: 40vh;
        display: grid;
        grid-template-areas: 
                "titulo titulo"
                "imagen imagen"
                "texto texto"
                ;
        grid-template-columns:auto;
        grid-template-rows: auto;
        column-gap: 10px;
        row-gap: 10px;
    }

    .sectionCardH3{
        font-size: 90%;
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionCardImage{
        margin: 0 auto;
        background-color:rgb(248, 224, 175);
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .sectionCardTexto{
        width: auto;
        height: auto;
        font-size: 75%;
    }
    
}
/* fin media 1024px */

/* inicio media 768px */
@media screen and (max-width: 768px){


.header h1{
    background-color:floralwhite;
}

.nav ul {
        display: flex;
        justify-content:center;
        column-gap:3vw;
}
.nav ul li {
        list-style-type: none;
}
.nav ul li a {
    font-size: 80%;
    font-weight: bolder;
    color: rgb(10, 9, 8);
    text-decoration: none;
} 

.main__productos{
    height: auto;
    background-color:floralwhite;
    
} 

.sectionCard{
    margin: 0 auto;
    padding: 45px;
    background-color: rgb(190, 190, 190);
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas: 
            "titulo titulo"
            "imagen imagen"
            "texto texto"
            ;
    grid-template-columns:auto;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
}

.sectionCardH3{
    font-size: 90%;
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionCardImage{
    margin: 0 auto;
    background-color:rgb(248, 224, 175);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.sectionCardTexto{
    width: auto;
    height: auto;
    font-size: 75%;
}

.main__contacto{
    margin: 20px auto;
    width: 80vw;
    height: auto;
    grid-area: main;
    background-color: rgb(190, 190, 190);
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto;
}


.main__contacto__form{
    padding: 10px;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main__contacto__maps{
    padding: 10px;
    margin: 0 auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}

.main__contacto__maps iframe{
width: auto;
}

.main__cursos {
    width: auto;
    margin: 0 auto;
}
.main__cursos__card{
    margin: 0 auto;
    padding: 45px;
    background-color: rgb(190, 190, 190);
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas: 
            "titulo titulo"
            "imagen imagen"
            ;
    grid-template-columns:auto;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
}


.main__cursos__card__img{
    margin: 0 auto;
    background-color:rgb(248, 224, 175);
    width: 150px;
    height: 150px;
    background-image: url(../imagenes/granos-de-cafe.png);
    background-size:50px;
    grid-area: imagen;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.main__cursos__card__titulo{
    font-size: 90%;
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 35vh;
}
    
.footer__item{
    height: 25vh;
    width: 28vw;
}
.footer__item h3{
    font-size: 90%;
}
.footer ul li{
    font-size: 80%;

}
.footer ul li a{
    font-size: 80%;
}
}
/* fin media 768px */

/* inicio media 612px */

@media screen and (max-width: 612px){
    .mainInicio__carousel{
        background-image: url(../imagenes/granos-c.jpg);

    }
    .mainInicio__texto section p{
        font-size: small;
    }
    
    .main__productos{
        width: auto;
        height:auto;
        margin: 0 auto;
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 1vh;
        column-gap:0;
    } 

    .sectionCard{
        margin: 0 auto;
        padding: 45px;
        background-color: rgb(190, 190, 190);
        width: auto;
        height: auto;
        display: grid;
        grid-template-areas: 
                "titulo"
                "imagen"
                "texto"
                ;
        grid-template-columns:auto;
        grid-template-rows: auto;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .sectionCardH3{
        font-size: 90%;
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionCardImage{
        margin: 0 auto;
        background-color:rgb(248, 224, 175);
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .sectionCardTexto{
        width: auto;
        height: auto;
        font-size: 75%;
    }

    .main__nosotros{
        grid-area: main;
        height: auto;
    }
    .main__nosotros__card{
        margin: 0 auto;
        padding: 0px;
        width:90vw;
        height: auto;
        display: grid;
        grid-template-areas: 
        "texto"
        "imagen"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        column-gap: 0;
    }
    .main__nosotros__card2{
        margin: 0 auto;
        padding: 0px;
        width:90vw;
        height: auto;
        display: grid;
        grid-template-areas: 
        "texto"
        "imagen"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        column-gap: 0;
    }
    
    .main__nosotros__card__img{
        width:50vw;
        height: 40vh;
        background-image: url(../imagenes/cafecover.jpg);
        grid-area: imagen;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 3% auto;
    }
    .main__nosotros__card__img2{
        width:50vw;
        height: 40vh;
        background-image: url(../imagenes/cafecover.jpg);
        grid-area: imagen;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 3% auto;
    }

    .main__nosotros__card__texto{
        margin: 0 auto;
        width: 50vw;
        padding: 70px;
        grid-area: texto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .main__nosotros__card__texto2{
        margin: 0 auto;
        width: 50vw;
        padding: 70px;
        grid-area: texto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .main__cursos{
        width: auto;
        height:auto;
        margin: 0 auto;
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 1vh;
        column-gap:0;
    } 

    .main__cursos__card{
        margin: 0 auto;
        padding: 45px;
        background-color: rgb(190, 190, 190);
        width: auto;
        height: auto;
        display: grid;
        grid-template-areas: 
                "titulo"
                "imagen"
                ;
        grid-template-columns:auto;
        grid-template-rows: auto;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .main__cursos__card__titulo{
        font-size: 90%;
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main__cursos__card__img{
        margin: 0 auto;
        background-color:rgb(248, 224, 175);
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

}

/* fin media 612px */

/* inicio media 490px */

@media screen and (max-width: 490px){

body{
    grid-template-columns: 1fr;
    grid-template-areas: 
            "header"
            "main"
            "footer"
            ;
}

.header {
    height:auto;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    row-gap:.5vh;
}
.nav ul li a {
    font-size: 90%;
}

.mainInicio{
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
            "carousel"
            "section"
            ;
}
.mainInicio__carousel {
    height: 50vh;
}
.mainInicio__texto{
    height: auto;

}
.mainInicio__texto section p{
    height:auto;
}

.main__contacto{
    margin: 20px auto;
    width: 80vw;
    height: auto;
    grid-area: main;
    background-color: rgb(190, 190, 190);
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto;
}


.main__contacto__form{
    padding: 10px;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main__contacto__maps{
    padding: 0;
    margin: 30px auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}

.main__contacto__maps iframe{
width: auto;

}
        
.footer{
height: 60vh;
display: flex;
flex-direction:column-reverse;
}
        
.footer__item{
    height: 15vh;
    width: 90vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
            "footerH3"
            "footerUl"
            ;
    justify-items: center;
}
.footer__item h3{
    height: auto;
    font-size: 100%;
    justify-content: center;
    align-items: center;
}
.footer ul li{
    font-size: 90%;
}
.footer ul li a{
    font-size: 90%;
}
/* fin media 490px */
    }